@media (max-width:2700px) and (min-width:1920px) {
  body main {
    max-width: 70.625rem;
    grid-column: 2/4;
    grid-row: 2/3;
   

    .body #books {
      column-gap: 11.625rem;

      .card {
        width: 14.375rem;

        #bookCover0 {
          width: 6.125rem;
          margin-top: 5rem;
        }

        #bookCover1 {
          width: 2.688rem;
          margin-top: 4.5rem;
        }

        #bookCover2 {
          width: 5.625rem;
          margin-top: 4.2rem;
        }

        #bookCover3 {
          width: 6.375rem;
          margin-top: 4.2rem;
        }

        #bookCover4 {
          width: 6.625rem;
          margin-top: 4.2rem;
        }

        #bookCover5 {
          width: 106px;
          margin-top: 4.2rem;
        }

        .card-title {
          font-size: 1.813rem;
        }
      }

      .card img:nth-child(1) {
        width: 160px;
      }
    }
  }
}

@media (max-width: 960px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 960px) {
  html {
    font-size: 62.5%;
  }
}